/* Establece un fondo y colores de texto */
body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    color: #333;
}

.profile-grid {
    max-width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos para la celda que contiene la imagen del usuario */
.user-image-container {
    display: flex;
    justify-content: center;
}

/* Estilos para la imagen del usuario */
.user-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    border-radius: 50%;
    cursor: pointer;
}



/* Estilos para los botones dentro del contenedor .user-info */
.user-info button {
    padding: 10px 20px;
    background-color: transparent; /* Fondo transparente */
    color: #007bff; /* Color del texto */
    border: 2px solid #007bff; /* Borde sólido con el color del texto */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px; /* Espacio entre los botones */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color de fondo y texto al pasar el mouse */
}

.user-info button:hover {
    background-color: #007bff; /* Color de fondo al pasar el mouse */
    color: #fff; /* Cambio de color de texto al pasar el mouse */
}



.user-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Estilos para el botón "Cambiar Imagen" */
#changeImageButton {
    padding: 10px 20px;
    background-color: transparent; /* Fondo transparente */
    color: #007bff; /* Color del texto */
    border: 2px solid #007bff; /* Borde sólido con el color del texto */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-right: 10px; /* Espacio entre los botones */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición de color de fondo y texto al pasar el mouse */

}

#changeImageButton:hover {
    background-color: #007bff; /* Color de fondo al pasar el mouse */
    color: #fff; /* Cambio de color de texto al pasar el mouse */

}

/* Resto de estilos permanecen igual */

/* Agrega un efecto de zoom al pasar el mouse sobre la imagen */
.user-image:hover {
    transform: scale(1.1);
}

/* Estilos para el modal */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    z-index: 1;
    overflow: auto;
}

/* Estilos para el contenido del modal */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
    text-align: center; /* Alinea el contenido al centro */
}

/* Estilos para la imagen dentro del modal */
#modalImage {
    max-width: 100%; /* Limita el ancho de la imagen al ancho del contenedor */
    max-height: 80vh; /* Limita la altura de la imagen al 80% de la altura visible del viewport */
}

/* Estilos para el icono de cierre */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.close:hover {
    color: #000;
}

/* Estilos para el botón "Seleccionar Imagen" dentro del modal */
#uploadLabel {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
}

#uploadLabel:hover {
    background-color: #0056b3;
}

/* Estilos para el botón "Guardar" dentro del modal */
#saveButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#saveButton:hover {
    background-color: #218838;
}

/* Estilos para la etiqueta y el campo de entrada de nombre de usuario */
label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="text"] {
    width: 50%;
    padding: 10px 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilos para el botón de guardar */
button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}